html,
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  font-family: "Inconsolata", monospace;
}

header {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  overflow: hidden;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 75px;
}

.nav-bar {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar ul li {
  flex: 1;
  text-align: center;
  border: 1px solid transparent;
  background-color: white;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.nav-bar ul li:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.nav-bar ul li a {
  display: block; 
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-bar ul li a:hover {
  color: white;
}

.nav-bar ul li.home {
  flex: 2;
}

.nav-bar ul li.home a {
  padding: 15px 30px;
}

section#home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
}

section#home .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  z-index: 1;
}

.greeting {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.greeting h1 {
  font-size: 30px;
  margin: 5px 0px 5px 0px;
}

.greeting p {
  margin: 5px 0px 5px 0px;
}

.background-img {
  position: absolute;
  z-index: 0;
  width: 100%;
}

.background-img img {
  width: 100%;
  max-height: 100vh;
  filter: brightness(0.5);
}

#title {
  color: white;
}

.description {
  color: white;
}

section#profile {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: left;
  align-items: left;
  border-bottom: 1px solid;
}

section#profile .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.profile-title {
  text-align: left;
}

.profile-title h1 {
  font-size: 30px;
  margin: 15px 0px 15px 0px;
}

.profile-title h1 {
  text-align: center;
}

.profile-title p {
  font-size: 18px;
}

.profile-wrap {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.icon img {
  filter: invert(0.15);
  width: 120px;
  border-radius: 50%;
}

section#message {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: left;
  align-items: left;
  border-bottom: 1px solid;
}

section#message .container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10%;
}

.form {
  width: 50%;
}

.row {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}

.label {
  width: 120px;
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-right: 10px;
}

.input {
  flex: 1;
}

.input input[type="text"][name="message"] {
  height: 175px;
}

.label::after {
  content: ":";
  margin-left: 5px;
}

.result {
  width: 50%;
  min-height: 45vh;
}

.form h1,
.result h1 {
  margin-bottom: 30px;
  font-size: 35px;
  text-align: left;
}

button {
  width: 100%;
  margin-top: 20px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1d1d1;
  padding: 20px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container p {
  line-height: 0.5em;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.025rem;
  color: #555
}

footer .container img {
  width: 30px;
}


.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .container > #message {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .container > #message .form,
  .container > #message .result {
    width: 48%;
  }
  
  .container > #profile {
    text-align: left;
  }
  
  .container > #subtext {
    text-align: center;
  }
  